#Rojo {
    background-color: #FF0000;
}

#Verde {
    background-color: #008000;
}

#Magenta {
    background-color:#FF00FF;
}
#Amarillo {
    background-color:#FFFF00;
}
#Naranja {
    background-color:#c76414;
}
#Morado{
    background-color: #620080;
    color:white;
}
#Azuloscuro {
    background-color: #05064b;
    color:white;
}
#Celeste{
    background-color:#87CEEB;
}
#Cafe{
    background-color:#6F4E37;
}
#Rosa{
    background-color:#e97487;
}
#Gris{
    background-color:#808080;
}
#Negro{
    background-color:#000000;
    color:white;
}
#Blanco{
    background-color:#FFFFFF;
}
#Lila{
    background-color:#C8A2D4;
}
#Verdeazulado{
    background-color: #008080;
}
#Azulclaro{
    background-color:#ADD8E6;
}