.carousel-inner {
  width: 500px;
  height: 500px;
}

.carousel-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: linear-gradient(to right, #3107ee, #4a98e6);
  padding: 20px;
  box-sizing: border-box;
}