.header {
    background-color: rgb(245, 209, 175);
    color:black;
    text-align: center;
    padding: 30px;
    font-size:larger;
    font-family:Georgia, 'Times New Roman', Times, serif;
}