 .contacto {
      display: inline-block;
      width: 250px;
      margin: 80px;
      padding: 10px;
      background-color: rgb(169, 118, 218);

    }

.titulo {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, serif;
      color: rgb(140, 40, 207);
      background-color: rgb(198, 157, 221);

    }

 div .titulo {
      color: rgb(48, 26, 100);
      background-color: rgb(127, 56, 145);
    }
