.horal {
  background-color: #4092c9;
  color: #000e4a; }

.hora2 {
  background-color: #27ae60; 
  color: white; 
}

.tare1 {
  background-color: rgb(101, 102, 102); 
  color: black; 
}

